#buttoncol, #buttoncol:hover, #buttoncol1:hover ,#pheadingbtn:hover,#sheadingbtn:hover{
    background-color: rgb(0,12,96);
}

#buttoncol {
    background-color: rgb(118,51,202);
}

.headingcol, .headingcol1 {
    color: #000c60;
}

.mainHeading {
    font-size: 70px;
}

#divImage {
    height: 30vh;
    background-image: url("https://kona-digital.com/images/herobg.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 75%;
}

#bgimage {
    width: 100%;
    background-image: url("https://kona-digital.com/images/mapimg.png");
    background-repeat: no-repeat;
}

#image1, #image2, #image3 {
    position: relative;
}

#image1 {
    bottom: 40px;
}

#image2 {
    bottom: 100px;
}

#image3 {
    bottom: 50px;
}

#headingBg {
    background: rgb(255,235,235);
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
}

.carousel-indicators .active {
    background-color: #000;
}

.accordion-button:focus, .accordion-button:not(.collapsed) {
    color: rgb(118,51,202);
    background-color: transparent;
    box-shadow: none;
}

.accordion-header h6 {
    font-size: 20px;
}

.accordion-body p {
    font-size: 16px;
}

#aboveFooter {
    background-color: rgb(232,240,247);
    margin-top: 200px;
}

.col li:hover {
    color: rgb(118,51,202);
}

.zoom:hover {
    transform: scale(1.1);
}

#img1 {
    top: 10%;
    position: absolute;
    z-index: -1;
}

#pipeline {
    position: absolute;
    top: 800px;
    z-index: -3;
    animation: zoom-in-zoom-out1 5s ease infinite;
}

@keyframes zoom-in-zoom-out1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3%);
    }
    100% {
        transform: translateY(0);
    }
}

#img2 {
    position: absolute;
    left: 760px;
    top: 600px;
    z-index: -2;
}

#nearimg1 {
    position: relative;
    z-index: 2;
}

#call {
    background-color: rgb(164,41,215);
    position: fixed;
    top: 80%;
    right: 0;
    z-index: 5;
    border-radius: 200px 200px 200px 0px;
    border: 0px solid #000000;
}


.imgForButton {
    background-image: linear-gradient(to right, #ff9b71 0%, #5a39c2 60%, #9e2ad5 100%);
    width: 100%;
}

.imgForButton1 {
    background-image: linear-gradient(90deg, #4e3bbf, #a928d8);
}

@media (max-width: 576px) {
    footer{
        margin-right: 180px;
    }
    .txt{
       padding-right: 100px;
    }
    #blue{
        display: none;
    }
    .mobile{
        display: none;
    }
    .navbar-brand img {
        position: absolute;
        margin-bottom: 20px;
        left: 10px;
    }
    .navbar-toggler {
        margin-top: 50px !important;
    }
    .navbar-collapse {
        display: none !important;
    }
    .navbar-toggler.collapsed + .navbar-collapse {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .navbar-nav {
        width: 100%;
    }
    .navbar-nav .nav-item {
        width: 100%;
    }
    .navbar-nav .nav-link, .navbar-nav .btn {
        width: 100%;
        margin-bottom: 10px;
    }
    .mainHeading {
        font-size: 49px;
    }
    #image2 {
        margin-top: 100px;
    }
    .d-grid .btn {
        width: 50%;
        margin-left: 100px;
    }
    .row {
        margin-left: 0 !important;
        gap: 20px !important;
    }
    .col-12.col-md-4 {
        width: 100% !important;
    }
    .col-12.col-md-4 img {
        width: 100%;
    }
    .arrow-icon {
        width: 20px !important;
    }
    .container {
        width: 100% !important;
    }
    .col-12.col-md-6 {
        padding: 20px !important;
    }
}

@media (min-width: 577px) {
    .navbar-nav {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }
    .navbar-nav .nav-item {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.arrow-icon {
    width: 20px;
    height: auto;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        display: none !important;
    }
    .navbar-brand {
        margin-top: 0;
    }
}

.pathone, .pathtwo, .paththree, .pathfour {
    position: absolute;
    animation: in-out 10s ease infinite;
}

.pathone {
    right: 26%;
    top: 38%;
}

.pathtwo {
    right: 30%;
    top: 55%;
}

.paththree {
    left: 28%;
    top: 20%;
}

.pathfour {
    left: 15%;
    top: 28%;
}

@keyframes in-out {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(0.1,0.1);
    }
    100% {
        transform: scale(1,1);
    }
}

* {
    font-family: Poppins, sans-serif;
}

.square {
    z-index: 2;
    background-color: #ffff;
    opacity: 70%;
}

.cites {
    position: relative;
}

#red {
    position: absolute;
    margin-right: 1000px;
}

#blue {
    position: absolute;
    margin-left: 1200px;
}

#ropeline {
    position: absolute;
    margin-top: 150px;
    z-index: 1;
    animation: zoom-in-zoom-out1 5s ease infinite;
}

#neardropdown {
    position: absolute;
    left: -2%;
    z-index: -1;
    margin-bottom: 400px;
}

.fot {
    margin-left: 80px;
    margin-top: 400px;
}
.custom-popover .popover-body {
    font-size: 1.4rem; 
  }
.custom-popover .popover-header {
 font-size: 20px; 
 background-image: linear-gradient(to right, #ff9b71 0%, #5a39c2 60%, #9e2ad5 100%);
 color: #ffff;
}

@media only screen and (min-width: 1024px) {
    .reviews{
        display: none;
    }
    
}

#productHeading{
    height: 60vh;
    background-image: url('https://kona-digital.com/images/productbanner.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 90%;
}
#pheadfont{
    width: 75%; 
    width: 75%;
    padding-top: 80px;
    line-height: 48px;
    text-align: left;
    margin-left: 100px;
}
#pheadingpar
{
    padding-left: 60px;
}
#pheadingdiv{
    margin-left: 50px;
}
#pheadingpar{
    width: 75%;
    margin-left: 40px;
    color :#212529;
}

#pheadingbtn{
    margin-left: 100px;
    background-color: rgb(118,51,202) ;
    margin-top: 10px;
}
.ppar{
   width: 644px;
}
@media (max-width: 600px) {
    #productHeading{
        height: 150vh;
    }
    .sicon{
        width: 170px;
        margin-left: -70px;
    }
    .solicon2{
        width: 220px;
        margin-left: -99px;
    }
    .solutionhead{
        margin-left: 9px !important;
        width: 383px;
        font-size: 44px;
    }
    .solutiontxt1{
        margin-left: -26px !important;
        width: 379px;
        font-size: 27px;
    }
    #pheadfont{
       width: 363px;
       font-size: 50px ;
       padding-right: 0px;
       margin-left: -84px;
       text-align: center;
       line-height: 50px;

    }
    #pheadingImg{
        display: none;
    }
    #pheadingpar{
        width: 121%;
        text-align: center;
        margin-left: -100px;
    }
    #pheadingbtn{
        margin-left: 13px;
    
    }
    .prows{
        width: 368px !important;
    }
    #konado{
       .pheadsize{
        font-size: 45px;
       }
       .ppar{
        width: 365px !important;
        line-height: 34px;
       }
    }
    .head{
        margin-left: 100px;
    }
    .head1{
        width: 324px !important;
        text-align: center;
        margin-top: 33px;
        margin-left: -27px;
        font-size: 40px;
    }
    .colorhead{
            background: linear-gradient(90deg, #8D65E9 0%, #5391E4 48.1%, #6BCD94 100%);
            font-size: 50px;
            font-weight: 500;
            margin: 20px 0 10px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }
    .head2 {
        width: 97% !important;
        text-align: center;
        margin-left: -5px;
    }
    .picons {
        margin-left: 42px;
    }
    .secIcon{
        margin-left: -23;
    }
    .space{
        margin-top: 20px;
    }
    #sheading{
        height: 175vh !important;
    }
    #sheadfont{
        width: 103% !important;
        padding-top: 36px !important;
        line-height: 48px !important;
        text-align: start;
        margin-left: -74px !important;
        font-size: 35px !important;
    }
    #sheadingpar{
        width: 120% !important;
        margin-left: -73px !important;
        margin-top: 5px !important;
    }
    #sheadingbtn{
        margin-left: -72px !important;
    }
    #sheadingImg{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .servicetxt{
        margin-top: 700px !important;
    }
    .simg1{
        max-width: 131% !important;
        margin-left: -41px;
    }
    .shead2{
        width: 327px !important;
        margin-left: -33px;
    }
    .shead{
        width: 341px !important;
        margin-left: -30px;
        padding: 10px !important;
    }
    .sohead{
        margin-left: -52px !important;
        
    }
    .freetxt{
        margin-left: -23px !important;
        width: 154px;
    }
    #soheadfont {
        width: 113% !important;
        padding-top: 10px !important;
        line-height: 43px !important;
        text-align: start !important;
        margin-left: -32px !important;
        font-size: 41px !important;
    }
    #soheadfont1{
        width: 344px !important;
        margin-left: -159px;
        text-align: center;
        font-size: 40px;
    }
    .soheadpar{
        width: 355px !important;
        margin-top: 20px !important;
        font-size: 16px !important;
        margin-left: -170px !important;
        text-align: center;
    }
    .sohead2 {
        width: 260px !important;
        margin-left: -33px !important;
    }
    .sobtn {
        width: 153%;
        margin-left: -135px;
    }
    .pheadingbtn{
        width: 325px !important;
    }
    .movhead{
        margin-left: -52px !important;
    }
    .solheading{
        margin-top: 15px;
        margin-left: 9px;
    }
    .simg2 {
        max-width: 234% !important;
        margin-left: -165px;
    }
   
}
.forbg{
    background-color: rgb(243,250,249);

}
.gradient-text {
    background: linear-gradient(90deg, #8D65E9 0%, #5391E4 48.1%, #6BCD94 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.gradient-text1 {
    background: linear-gradient(90deg, #272657 0%, #5391E4 48.1%, #272657 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
#sheading{
    background-color: rgb(233,234,245);
}
#sheadfont{
    width: 75%;
    padding-top: 80px;
    line-height: 48px;
    text-align: start;
    margin-left: 59px;
    font-size: 35px;
}
#sheadingpar{
    width: 78%;
    margin-left: 59px;
}
#sheadingbtn{
    margin-left: 58px;
    background-color: rgb(118,51,202) ;
}
#sheading{
    height: 80vh;
}
#soheadfont{
    width: 68%;
    padding-top: 10px;
    line-height: 58px;
    text-align: start;
    margin-left: 120px;
    font-size: 50px;
}
.sohead{
    margin-left: 120px ;
    padding: 11px !important;
}
.padt100{
    margin-top: 100px;
}

@media (max-width: 576px) {
    .platform-item img {
        width: 60px;
        height: auto; 
    }
    .platform-item h5,
    .platform-item p {
        font-size: 10px;
        margin-left: 15px!important;
    }
    .lastimg{
        display: none !important;
    }
    .images{
        width: 142% !important;
        margin-left: -41px !important;
    }
    .modal-content{
        margin-left: 40px;
    }
    .dropdown-menu{
        text-align: center;
    }
}